.cutting-edge {
  padding: 50px 110px;
}

.features-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.features-image img {
  width: 100%;
  height: 100%;
}

.figcaption-wrap {
  text-align: center;
  margin-top: 30px;
  padding: 0px 15px;
}

.figcaption-wrap h3 {
  font-family: Dosis;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
}

.figcaption-wrap p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.figcaption-wrap button {
  border-color: #222;
  background-color: #222;
  border-radius: 25px;
  padding: 14px 26px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
}

.figcaption-wrap button a {
  color: #fff;
}

.features {
  background-color: #f7f7f7;
  width: 100%;
  height: auto;
  padding: 50px 100px;
}

.features-list {
  padding: 50px 100px;
  width: 100%;
  height: auto;
}

.list-button {
  padding-top: 4%;
  padding-bottom: 4%;
}

.list-button button {
  border-radius: 75px;
  border-color: #222;
  padding: 11px 34px;
  background-color: #fff;
}

.list-button button a {
  font-family: Karla;
  line-height: 26px;
  font-weight: 600;
  font-size: 14px;
  color: #222;
}

.list-button button:hover {
  background-color: #222;
  color: #fff;
}

.list-button button:hover a {
  background-color: #222;
  color: #fff;
}

.suitable {
  padding: 50px 100px;
  background-color: #222222;
  width: 100%;
  height: auto;
}

.img-link {
  transition: all 0.5s ease;
}

.img-link:hover {
  cursor: pointer;
  background-color: rgba(37, 37, 37, 0.6);
}

.inner-list {
  text-align: center;
  color: #fff;
}

.inner-list h3 {
  font-family: Dosis;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0px;
}

.inner-list p a {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.blank-spacer {
  text-align: center;
  color: #fff;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 16%;
  padding-right: 16%;
}

.text-column {
  font-size: 36px;
  line-height: 44px;
  font-family: Dosis;
  letter-spacing: 1px;
  font-weight: 400;
}

.impact-text-large {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;
}

.impact-text {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.image {
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
}

.mobile {
  padding: 100px;
  width: 100%;
  height: auto;
}

.mobile-header {
  padding-top: 4%;
  padding-bottom: 4%;
}

.mobile-text {
  text-align: center;
  margin-top: 15px;
}

.mobile-text h4 {
  font-family: Karla;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
}

.mobile-content {
  padding-top: 165px;
  padding-bottom: 165px;
  font-weight: 400;
  font-family: Karla;
}

.mobile-content h5 {
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 15px;
}

.mobile-content p {
  line-height: 26px;
  font-size: 14px;
}

.demos {
  padding: 50px 100px;
  width: 100%;
  height: auto;
  background-color: #ededed;
}

.demos-header {
  text-align: center;
}

.demos-header p {
  font-size: 36px;
  line-height: 44px;
  font-family: Dosis;
  line-height: 38px;
  letter-spacing: 1px;
  font-weight: 400;
  padding-bottom: 10px;
}

.demos-header h5 {
  font-family: Karla;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 30px;
}

.dms-image:hover {
  cursor: pointer;
}

.dms-text {
  text-align: center;
  margin-top: 15px;
}

.dms-text h4 {
  font-family: Karla;
  line-height: 20px;
  font-weight: 700;
  font-size: 16px;
}

.dms-text p {
  padding: 0%;
  margin-top: 147px;
  margin-bottom: 147px;
  font-size: 24px;
  line-height: 32px;
  font-family: Dosis;
  letter-spacing: 1px;
  font-weight: 400;
}

.shop-view {
  padding: 100px;
  background-color: #222222;
  width: 100%;
  height: auto;
}

.shop-content {
  margin-top: 165px;
  margin-bottom: 165px;
  color: #fff;
}

.shop-content h5 {
  font-size: 32px;
  line-height: 44px;
  font-family: Dosis;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 24px;
}

.shop-content p {
  color: #999999;
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 24px;
}

.shop-content a {
  background: none;
  color: #fff;
  border: 2px solid #e3e3e3;
  border-radius: 25px;
  padding: 15px 25px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

.shop-content a:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: #222;
}

.product-post-pages {
  padding: 100px;
  background-color: #f8f8fa;
}

.page-content {
  text-align: center;
  margin-bottom: 50px;
}

.page-content p {
  font-size: 36px;
  line-height: 44px;
  font-family: Dosis;
}

.page-content h5 {
  font-family: Karla;
  line-height: 28px;
  font-weight: 400;
  font-size: 16px;
}

.page-content .page-button {
  font-family: Karla;
  line-height: 26px;
  font-weight: 600;
  font-size: 14px;
}

.page-content .page-button a {
  border: 2px solid #222;
  background: none;
  border-radius: 25px;
  padding: 15px 25px;
}

.page-content .page-button a:hover {
  background-color: #222;
  color: #fff;
}

.page-content .page-button .pgbtn {
  background-color: #222;
  color: #fff;
}

.header-options {
  padding: 100px;
  width: 100%;
  height: auto;
  background-color: #222222;
}

.options {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}

.animated {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #222222;
}

.animated-button a {
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 25px;
  padding: 15px 25px;
}

.performance {
  background-color: #62d8b6;
  padding: 100px;
  width: 100%;
  height: auto;
}

.page-builder {
  padding: 100px;
  width: 100%;
  height: auto;
}

.build {
  margin: 93px 0px;
}

.build h3 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  font-family: "Dosis";
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.build p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.icons {
  background-color: #f7f7f7;
  padding: 100px;
  width: 100%;
  height: auto;
}

.colours {
  padding: 100px 100px 0px 100px;
  width: 100%;
  height: auto;
}

.features-icon {
  width: 100%;
  height: auto;
  padding: 100px 50px;
  background-color: #f7f7f7;
}

.list-icon-box {
  display: flex;
  padding: 20px;
}

.list-icon-box i {
  display: flex;
  font-size: 36px;
  line-height: 52px;
  color: #1dc6df;
}

.list-icon-box .icon-box-content {
  margin-left: 30px;
}

.list-icon-box .icon-box-content h3 {
  font-family: Dosis;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.list-icon-box .icon-box-content p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.free-support {
  width: 100%;
  height: auto;
  background-color: #efd213;
  padding: 100px;
  text-align: center;
}

.support-button {
  background-color: #222;
  border-color: none;
  border-radius: 75px;
  border-width: 2px;
  padding: 13px 25px;
}

.support-button a {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;
}
