.fancy-heading-wrap {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.fancy-heading-wrap img {
  width: 100%;
  height: 100%;
}

.box-img-area {
  padding: 30px;
}

#mainImage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.sub-box-item {
  display: flex;
  margin-top: 30px;
}

.sub-box-item .box-item {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-right: 15px;
}

.sub-box-item .box-item img {
  width: 100%;
  height: 100%;
}

.summary {
  border-bottom: 2px solid #f2f2f2;
}

.summary .product-nav {
  font-family: Karla;
}

.summary .product-nav a {
  color: #767676;
  font-size: 14px;
}

.summary .product-nav .pro-icon {
  border: 2px solid #f2f2f2;
  float: right;
  text-align: center;
}

.summary .product-nav .pro-icon i {
  padding: 8px;
  transition: all 0.3s ease;
}

.summary .product-nav .pro-icon:hover {
  cursor: pointer;
  color: #eabe12;
}

.summary .pro-header {
  padding-bottom: 50px;
}

.summary .pro-header h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: Dosis;
  letter-spacing: 1px;
}

.product-rating {
  padding-top: 30px;
}

.product-rating .product-price {
  padding-bottom: 30px;
}

.product-rating .product-price span {
  margin-right: 15px;
}

.product-rating .product-price i {
  color: #eabe12;
  font-size: 12px;
}

.product-rating .product-short {
  font-family: Karla;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 14px;
}

.quantity button {
  border: 2px solid black;
  background-color: #fff;
  text-align: center;
  padding: 15px;
  transition: all 0.8s ease;
}

.quantity button i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.quantity button p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 1px;
}

.quantity button:hover {
  cursor: pointer;
  color: #eabe12;
  border-color: #eabe12;
}

.product-meta {
  margin-top: 40px;
  margin-bottom: 25px;
  font-family: Karla;
  color: #444444;
}

.product-meta p {
  font-size: 14px;
}

.product-meta p a {
  color: #444444;
}

.product-meta p a:hover {
  color: #eabe12;
}

.share-counts {
  display: flex;
  font-family: Dosis;
  border-bottom: 2px solid #f2f2f2;
  border-top: 2px solid #f2f2f2;
  padding: 20px 0px;
}

.share-counts h3 {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  padding-right: 30px;
}

.share-counts a {
  margin-right: 20px;
  font-size: 16px;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.share-counts a:hover {
  color: #eabe12;
}

.product-after-summary {
  border-top: 2px solid #f2f2f2;
  padding: 40px;
  margin-top: 60px;
  display: flex;
  width: 100%;
  height: auto;
}

.product-after-summary .tabs {
  display: flex;
  float: left;
  padding-right: 80px;
}

.product-after-summary .tabs h4 {
  font-family: Dosis;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: #333333;
}

.product-after-summary .product-table {
  display: flex;
}

.attribut {
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
}

.value {
  text-align: end;
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
}

.product-reviews {
  padding: 50px;
  background: #f7f7f7;
  height: auto;
}

.reviews h3 {
  font-family: Dosis;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 2px solid black;
  display: inline-block;
}

.reviews .commentlist {
  padding-top: 20px;
}

.reviews .commentlist .comment-details {
  float: left;
}

.reviews .commentlist .comment-details p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.reviews .commentlist .comment-details .data {
  opacity: 0.7;
}

.reviews .commentlist .comment-text {
  display: inline-block;
}

.reviews .commentlist .comment-text p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}

.comment-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.comment-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.review_form h3 {
  font-family: Dosis;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 2px solid black;
  display: inline-block;
}

.review_form p {
  font-family: Karla;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
}
